<div class="wrapper">
  <h1>Our Team</h1>
<link rel="stylesheet" type="text/css" href="aboutus.css">
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="suhas.jpg" alt="Team_image">
      </div>
      <h3>Suhas G</h3>
      <p class="role">Backend developer</p>
	<p>1MV18CS111</p>
      <p>Worked on backend development of Apartment Management System using Javascript, NodeJS and MondoDB</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="prathibha.jpg" alt="Team_image">
      </div>
      <h3>Prathibha R</h3>
      <p class="role">Frontend developer</p>
	<p>1MV18CS070</p>
      <p>Worked on frontend development of Apartment Management System using HTML5, CSS and JQuery</p>
	</div>
    <div class="team_member">
      <div class="team_img">
        <img src="pr.jpeg" alt="Team_image">
      </div>
      <h3>VT Pranav</h3>
      <p class="role">Frontend developer</p>
	<p>1MV18CS126</p>
      <p>Worked on frontend development of Apartment Management System using HTML5, CSS and JQuery</p>
    </div>
  </div>
</div>