<html>
<head>
<title> HOME PAGE </title>
<link type="text/css" rel="stylesheet" href="navbar.css">
<link type="text/css" rel="stylesheet" href="dashboard.css">
</head>
<body>
<header>
    <div class="wrapper">
        
            
            <ul class="nav-area">
                    <li>
                            <a href="dashboard">HOME</a>
                        </li>
                <li>
                    <a href="aboutus">ABOUT US</a>
                </li>
                <li>
                <a href="services">SERVICES</a>
                </li>
              
                <li>
                    <a href="parking">PARKING</a>
                </li>
                <li> <a href="complaint">COMPLAINTS</a></li>
            </li>
            <li> <a href="mini">MINITHEATER</a></li>
            <li> <a href="sports">SPORTS</a></li>
                    <li> <a href="music">MUSIC SHOW</a></li>
            <li id="log">
                    
                    <a href="login">LOG OUT</a>
                    <br>
                    <br>
                </li>
            </ul>
        </br>
    </br></br>
   <h3> Welcome!! <br>
   <%=data%></h3>
                <div class="slidershow">
            
                    <div class="slides">
                        <input type="radio" name="r" id="r1" checked>
                        <input type="radio" name="r" id="r2">
                        <input type="radio" name="r" id="r3">
                        <input type="radio" name="r" id="r4">
                       
                        <div class="slide s1">
                        
                            <img src="https://cdngeneral.rentcafe.com/dmslivecafe/3/645705/The%20Kirkwood%20Twilights_049%20v2.JPG?crop=(10.47619047619122,10,300,200)&cropxunits=300&cropyunits=200&quality=85&scale=both&" alt="">
                        </div>
                        <div class="slide">
                            <img src="https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,fl_lossy/g5/g5-c-idgh48mn-pacific-urban-residential/g5-cl-5733pdk2v-sofi-poway/uploads/sofi-poway-023-hero0817.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="https://www.everyaptmapped.org/apartments/poway,california,ca/sofi+poway/sofi+poway+photo_2.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="https://www.kingsboro-apartments.com/img/home-slider/4.jpg" alt="">
                            
                        </div>
                    </div>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                        <label for="r4" class="bar"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>