<html>
<head>
<title> Login Form Design </title>
<link type="text/css" rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <br>
    
    <h1>
        APPARTMENT MANAGEMENT 
    </h1>
<div class="loginbox">
<img src="avatar.png"  class="avatar">
<form method="post" action="">
<h1>Login Here</h1>
   
<p>Email</p>
<input type="email" name="email" placeholder="Enter Email id">
<p>Password</p>
<input type="password" name="password" placeholder="Enter Password">
<input type="submit" name="" value="Login">

<a href="\register"> <b>Don't have an account ?</b> <br>

    </form>
</div>
</body>

</html>