<!DOCTYPE html>
<html>
<head>

<title>Services</title>
<link rel="stylesheet" type="text/css" href="services.css">
<link rel ="stylesheet" type="text/css" href="navbar.css">
</head>

<body>
        <div class="wrapper">
                
                        
                <ul class="nav-area">
            
                        <li>
                                <a href="dashboard">HOME</a>
                            </li>
                   
                    <li>
                        <a href="aboutus">ABOUT</a>
                    </li>
                    <li>
                    <a href="services">SERVICES</a>
                    </li>
                    <li>
                            <a href="parking">PARKING</a>
                        </li>
                        <li> <a href="complaint">COMPLAINTS</a></li>
                    </li>
                    <li> <a href="mini">MINITHEATER</a></li>
                    <li> <a href="sports">SPORTS</a></li>
                    <li> <a href="music">MUSIC SHOW</a></li>
                    
                   
                    <li id="log">
                            <a href="login">LOG OUT</a>
                        </li>
                </ul>
                </div>
<br><br>

<h1>Services</h1>

<div id="ser">
<h2>Newspaper</h2>
<img class ="image" src="news.jpg"/>
We provide a wide range of newspaper facilities and also issue latest magazines of all genre. We issue our info news intended for apartment owners as well as brochures and guides for all those in our apartments.
</div>
<div id="gap"></div>
<div id="ser">
<h2>Housekeeping</h2>
<img class ="image" src="housekeep.jpg"/>
For a first-rate clean every time, turn to ADDA. We offer customized apartment cleaning services that can't be beat others. The housekeeping mainly comprises of brooming, washing vessels, sweeping etc.
</div>
<div id="gap"></div>
<div id="ser">
<h2>Car Maintenance</h2>
<img class ="image" src="carservices.jpg"/>
We provide a wide range of car services and great maintenance to our customers. It includes washing, changing lubricants, repair of parts and more.
</div>
<div id="gap"></div>
<div id="ser">
<h2>Laundry</h2>
<img class ="image" src="washing-machine.jpg"/>
A community area laundry room can be a valuable amenity for any apartment complex.All our apartments are equipped with washer/dryer but we also offer a dry-cleaning service, ironing and tailoring if you want.The laundry service mainly includes washing, dry cleaning and delivering back to your doorstep.
</div>
<div id="gap"></div>
<div id="ser">
<h2>Doctor on call</h2>
<img class ="image" src="doctor.jpg"/>
Our customers' health is extremely important to us. All our doctors are highly professional with years medical experience. We aim to provide you an easy and hassle-free consultation at home at your doorstep.
</div>
<div id="gap"></div>
<div id="ser">
<h2>Free WiFi</h2>
<img class ="image" src="wifi.jpg"/>
Free WiFi. As a complimentary service to our valued guests, we are happy to provide free high speed WiFi for your convenience.
</div>

</body>

</html>